form{
    margin-bottom: 30px;
}
.pagination{
    margin: 0;
    padding: 0;
    list-style-type: none;
    padding: 21px 1px 54px 5px;
}
.pagination>li{
    border: 1px solid #8281814d;
    float: left;
    padding: 8px;
}
#form1{
    margin-top: 44px;
}